<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Importojme fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

</head>
<body>
    <!-- Nis navbar -->
    <nav class="navbar  navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="image/Logo3.png" width="180" height="50" class=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class=" d-flex justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Kryefaqja</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pronat
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#" target="_blank">Qira</a></li>
                  <li><a class="dropdown-item" href="#" target="_blank">Shitje</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/rrethnesh">Rreth nesh</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Sherbimet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Kontakt</a>
              </li>
            </ul>
            <!-- <form class="d-flex" action="" method="">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-danger-success" type="submit">Kerko</button>
            </form> -->
          </div>
        </div>
      </nav>
    <!-- Fund navbar -->

      <!-- newsletter -->
      <div class="container-fluid p-0 m-0">
        <div class="card bg-dark text-white border-0 rounded-0 my-0">
            <img src="image/background3.jpg" id="imazh" class="card-img img-fluid" alt="...">
            
            <div class="card-img-overlay text-center my-5 text-dark">
                <h4 class="card-title">Gjeni ate qe kerkoni</h4>
                <p class="card-text">Buying real estate is not only the best way, the quickest way, the safest way, but the only way to become wealthy. </p>

              <div class="kerkimi my-5">
                <h2>Kerko prona</h2>
                <form action="" method="">
                <div class="divet">
                <!-- <h5>Veprimi</h5> -->
                <select name="veprimi" required>
                  <option value="" disabled selected hidden>Veprimi</option>
                  <option value="qira">Qira</option>
                  <option value="shitje">Shitje</option>
                </select>
              </div>
                <div class="divet">
                <!-- <h5>Nenkategori</h5> -->
                <select name="kategorite" required>
                  <option value=""disabled selected hidden>Shih te gjitha ose zgjidh Nenkategori</option>
                  <option value="apartamente 1+1">Apartamente 1+1/Garsoniere</option>
                  <option value="apartamente 2+1">Apartamente 2+1</option>
                  <option value="apartamente 3+1">Apartamente 3+1</option>
                  <option value="vila">Vila</option>
                  <option value="lokale">Lokale</option>
                  <option value="dyqane">Dyqane</option>
                  <option value="zyra">Zyra</option>
                  <option value="toke">Toke</option>
                  <option value="garazh">Garazh</option>
                </select>
              </div>

                <div class="divet">
                <!-- <h5>Qyteti</h5> -->
                <select name="qytetet" required>
                  <option value=""disabled selected hidden>Gjithe Shqiperia</option>
                  <option value="tirane">Tirane</option>
                  <option value="qira">Durres</option>
                  <option value="shitje">Fier</option>
                  <option value="vila">Vlore</option>
                  <option value="lokale">Berat</option>
                  <option value="dyqane">Shkoder</option>
                  <option value="dyqane">Gjirokaster</option>
                  <option value="dyqane">Kruje</option>
                  <option value="dyqane">Elbasan</option>
                  <option value="dyqane">Kukes</option>
                  <option value="dyqane">Tropoje</option>
                  <option value="dyqane">Peshkopi</option>
                </select>
              </div>
                <input type="submit"  value="Kerko" id="butonikerkimit">
              </form>

            
              </div>
            </div>
        </div>
    </div>
    <!-- fund newsletter -->
     
     <!-- Product Title -->
     <div class="container my-5">
      <h3 class="text-center">Prona te Përzgjedhura</h3>
      <h3 class="text-center fw-bold">New entry</h3>
  </div>
  <!-- Fund Product Tile -->

  <!-- Product -->
  <div class="container-fluid">
  <div class="row">
    <% pronat.forEach( (ele) => { %>
    <div class="col-12 col-md-6 col-lg-3">
      
        <div class="card bg-light border-2 p-2 mb-2" style="width: 18rem;">
          
            <img src="image/cImage1.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h4 class="card-title fw-bolder mt-3"><%=ele.name%></h4>
                <p class="card-text"><%=ele.veprimi%></p>
                <a href="#" class="btn btn-dark">Me shume</a>
            </div>
        </div>
    </div>
    <% }); %>
  </div>
  
  <!-- fund product -->
    <hr>
        <!-- Karriera detail -->
        <div class="container ">
          <h3 class="text-center fw-bold">Karriera</h3>
      </div>
        <div class="container">
          <div class="row">
              <div class="col-12 col-lg-6">
                  <!-- <div class="d-flex products"> -->
                  <img src="image/Logo.jpg" alt="" class="img-fluid" id="karriera">
                  <!-- </div> -->
              </div>
              <div class="col-12 col-lg-6 my-auto">
                  <h1 class="fw-bold">Real Estate</h1>
                  <p class="h4">Gjithcka është e mundur nëse beson tek njerëzit e duhur! Jemi ketu duke jua njohur përdite nevojat, ecim të sigurtë bashkë sepse për këtë nuk na mungon Përvoja!

                  </p>

                  <a href="" class="btn bg-dark text-light ">Me shume info</a>
              </div>
          </div>
      </div>
      <hr>
      <!-- fund Karriera detail -->

    <!-- Carousel fillim -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">

            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                    <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>

                </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card">
                  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                  <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                  </div>

              </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>

            </div>
        </div>
        </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                  <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
              <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
              <div class="card-body">
                  <h4 class="card-title">Special title treatment</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
          </div>
      </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                  <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
              <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
              <div class="card-body">
                  <h4 class="card-title">Special title treatment</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
          </div>
      </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Fund Carousel -->

    <!-- Footer -->
   
    
    <!-- Fund Footer -->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>